@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    padding: 30px;
    background: #f7f7f7;
}

.container {
    display: flex;
}

h1 {
    margin-top: 0;
    /* font-style: italic; */
    ;
}

.axis text {
    font-size: 13px;
    fill: #6b6b6b;
}

.axis-title {
    font-size: 13px;
    fill: #888;
}

@media (max-width: 768px) {
#chart1 {
    width: 100%; /* Or use any percentage value */
    /* other styles */
}

}